<tr id="<%= dom_id friend %>">
  <td>
    <%= friend.first_name %>
  </td>

  <td>
    <%= friend.last_name %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

  <td>
    <%= friend.user_id %>
  </td>

  <td>
    <%= link_to "Show", friend %>
    <%= link_to "Delete", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </td>

</tr>