<tr id="<%= dom_id friend %>">
  <td>
   <%= link_to friend.first_name + ' ' + friend.last_name, friend, style: "text-decoration: none" %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

  <td>
    <%= link_to "Delete", friend, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "text-decoration: none; color: red" %>
  </td>

</tr>